@import "../config/config";

/* =============================================================================
   Lists
   ========================================================================== */

/*
 * Remove most spacing between table cells
 */

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}