//
// Mixins
//
// Custom grid additions
@mixin grid-full-container {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-site-width;
}

@mixin full-viewport-width {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

// element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// The word "Unpublished" displayed underneath unpublished nodes and comments.
@mixin unpublished-div {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; // A very nice CSS3 property
}

// Cross browser border-radius
@mixin border-radius($raidus:5px) {
  -webkit-border-radius: $raidus;
     -moz-border-radius: $raidus;
          border-radius: $raidus;
}

@mixin button-pill($background_color: $primary_color, $text_color: $text, $hover_color: $background_color) {
  background: $background_color;
  padding: 0.3em 1.5em;
  border-radius: 10em;
  color: $text;
  border: none;
  text-transform: uppercase;
  //@include transition(background-color $transition_time);

  &:hover{
    background-color: lighten($hover_color, 20%);
  }
}

// Easy icon attachments using fontello.com.
@mixin icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

// Hide icon element but show icon
@mixin icon-only {
  display:inline-block;
  visibility: hidden;
  width: 1em;
  white-space: nowrap;

  &:before, &:after {
    visibility:visible;
  }
}

@mixin icon-mail-alt { @include icon; content: '\e800'; } /* '' */
@mixin icon-link { @include icon; content: '🔗'; } /* '\1f517' */
@mixin icon-phone { @include icon; content: '\e80b'; } /* '' */
@mixin icon-headphones { @include icon; content: '\e80a'; } /* '' */
@mixin icon-down-open { @include icon; content: '\e75c'; } /* '' */
@mixin icon-up-open { @include icon; content: '\e75f'; } /* '' */
@mixin icon-certificate { @include icon; content: '\e80f'; } /* '' */
@mixin icon-beaker { @include icon; content: '\e80e'; } /* '' */
@mixin icon-facebook-squared { @include icon; content: '\e802'; } /* '' */
@mixin icon-github-circled { @include icon; content: '\e805'; } /* '' */
@mixin icon-gplus-squared { @include icon; content: '\e804'; } /* '' */
@mixin icon-linkedin-squared { @include icon; content: '\e803'; } /* '' */
@mixin icon-twitter-squared { @include icon; content: '\e801'; } /* '' */
@mixin icon-ok { @include icon; content: '\e80d'; } /* '' */
@mixin icon-spotify-circled { @include icon; content: '\e809'; } /* '' */
@mixin icon-cancel { @include icon; content: '\2715'; } /* '✕' */
@mixin icon-link-1 { @include icon; content: '\e810'; } /* '' */
@mixin icon-pencil { @include icon; content: '\270e'; } /* '✎' */
@mixin icon-menu { @include icon; content: '\e807'; } /* '' */
@mixin icon-wrench { @include icon; content: '🔧'; } /* '\1f527' */
@mixin icon-clock { @include icon; content: '🕔'; } /* '\1f554' */
@mixin icon-arrows-cw { @include icon; content: '\e760'; } /* '' */
@mixin icon-cog { @include icon; content: '\e812'; } /* '' */
@mixin icon-brush { @include icon; content: '\e811'; } /* '' */
@mixin icon-drupal { @include icon; content: '\e806'; } /* '' */
@mixin icon-lastfm-rect { @include icon; content: '\e808'; } /* '' */
@mixin icon-download { @include icon; content: '\e813'; } /* '' */

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}