$regular: map-get($mq-breakpoints, regular);
$wide: map-get($mq-breakpoints, wide);

.block-contact-block {
  background-color: $dark;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: relative;
  z-index: 10;

  .block-title {
    //@include leader(0);
    position: relative;
    
    &:before {
      @include icon-mail-alt;
      position: absolute;
      font-size: 2em;
      right: 0;
      top: -0.1em;
      color: rgba(255,255,255,0.05);
      -webkit-transform: rotate(19deg);
      text-shadow: 0 -1px 0 #111;
      z-index: -1;
    }
  }

  .form-item {
    position: relative;
    z-index: 10;
    margin-bottom: 1em;

    input,
    textarea {
      position: relative;
      width: 100%;
      box-sizing:border-box;
      background:lighten($dark, 10%);
      color: $white;

      &:focus {
        z-index: 10;
      }
    }

    textarea {
      height: 8.5em;
    }
  }

  label {
    display: block;
    margin-left: 1em;
    line-height: 1;
    font-weight: 300;
    font-weight:normal;
    color:$medium;
    position: absolute;
    top: 0.75em;
    z-index: 1;
    pointer-events: none;
  }

  .form-actions {
    text-align: right;

    .button:last-child {
      margin-right: 0;
    }
  }

  @include mq($from: narrow, $until: regular) {
    width: 50%;
  }

  @include mq($from: regular) {
    width: calc(#{$wide} / #{map-get($grid-columns, regular)});
  }
}