.field--name-field-link {
	float:left;
	clear:both;
	display:inline-block;
    text-align: center;

    .field__item {
        margin-bottom: 0.5em;
    }

	a {
		background: $primary_color;
		padding: 0.75em 1.5em;
		border-radius: 10em;
		color: $text;
		text-transform: uppercase;
		//@include transition(background-color $transition_time);
		letter-spacing: 1px;
		display:block;

		&:hover{
			background-color: lighten($primary_color, 20%);
		}
	}
}