@include jacket(critical) {

    @include mq($from: regular) {
        .node--view-mode-full {
            //@include clearfix;
            display: grid;
            grid-template-columns: 25% 70%;
            grid-column-gap: 5%;
        }
    }

// END CRITICAL
}