footer {
    @include full-viewport-width;
    position: relative;
    background-color: $dark;
    color: $white;
    padding: 1.5em 0;
}

.region-footer {
    max-width: $max-site-width;
    margin-left: auto;
    margin-right: auto;
}