/**
 * @file
 * Views Styling
 */

@include jacket(critical) {

  // As non critical CSS is loaded via JS we style homepage teasers to avoid FOUC.
  // Narrow and Regular only.
  body:not(.savvior) {
    .view-homepage {
      @include mq($from: narrow, $until: regular) {
        li {
          float:left;
          max-width:50%;

          &:nth-child(2n+1) {
            clear:left;
          }
        }
      }

      @include mq ($from: regular) {
        li {
          float:left;
          max-width:33.33%;

          &:nth-child(2n+1) {
            clear:none;
          }

          &:nth-child(3n+1) {
            clear:left;
          }
        }
      }
    }
  }

  /*
   * General Views overrides
   */

  .view {
    ul {
      margin:0;
      padding:0;
    }
  }

// END CRITICAL
}

@include jacket(non-critical) {

  /*
   * Views' admin tabs
   *
   * The views admin tabs use the same classes as the secondary tabs. We prevent
   * some of our tab styling from bleeding into (and breaking) the Views admin
   * pages. If your sub-theme isn't used for admin pages, you can remove this
   * entire section.
   */
  .views-displays .secondary {
    li {
      float: none;
      margin: 0 6px 0;
    }

    a:link,
    a:visited {
      @include single-text-shadow(none);
      padding: 2px 7px 3px;
    }

    .open > a {
      border-radius: 7px 7px 0 0;
      &:hover {
        color: #333;
      }
    }

    .action-list li {
      margin: 0;
      &:first-child {
        border-radius: 0 7px 0 0;
      }
      &:last-child {
        border-radius: 0 0 7px 7px;
      }
    }
  }


  /*
   * General Views overrides
   */

  .view {
    ul {
      margin:0;
      padding:0;
    }
    li {
      list-style:none;
      max-width: $max-col-width;
      margin-left:auto;
      margin-right:auto;
    }
  }

  li.views-row {
    list-style:none;
  }

  .views-row {
    margin-bottom:3em;
  }

}